
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');
/* ==========================================
              Website Resets
============================================= */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

*::-moz-focus-inner {
  border: 0;
}

*:focus {
  outline: none;
}

/*=============================================
         root, html,  and body styles
================================================*/
:root {
  --clr-primary-100: hsla(210, 71%, 96%, 100%);
  --clr-primary-200: hsla(210, 71%, 86%, 100%);
  --clr-primary-300: hsla(210, 59%, 70%, 100%);
  --clr-primary-400: hsla(210, 68%, 63%, 100%);
  --clr-primary-500: hsla(210, 67%, 54%, 100%);
  --clr-primary-600: hsla(210, 67%, 46%, 100%);
  --clr-primary-700: hsla(210, 68%, 37%, 100%);
  --clr-primary-800: hsla(210, 67%, 29%, 100%);

  --clr-neutral-100: hsla(0, 0%, 98%, 100%);
  --clr-neutral-200: hsla(0, 0%, 94%, 100%);
  --clr-neutral-300: hsla(0, 0%, 85%, 100%);
  --clr-neutral-400: hsla(0, 0%, 75%, 100%);
  --clr-neutral-500: hsla(0, 0%, 60%, 100%);
  --clr-neutral-600: hsla(0, 0%, 38%, 100%);
  --clr-neutral-700: hsla(0, 0%, 19%, 100%);
  --clr-neutral-800: hsla(0, 0%, 7%, 100%);

  --clr-augmented-100: hsla(210, 15%, 58%, 100%);
  --clr-augmented-200: hsla(210, 11%, 50%, 100%);
  --clr-augmented-300: hsla(210, 11%, 36%, 100%);
  --clr-augmented-400: hsla(210, 25%, 19%, 100%);

  --ff-font-body: 'Nunito', sans-serif;;

  --fw-font-weight-400: 400;
  --fw-font-weight-600: 600;
  --fw-font-weight-700: 700;

  --ls-letter-spacing: 1px;

  --br-border-radius: 5px;
}

html {
  font-size: 100%;
}
@media only screen and (max-width: 420px){
  html {
    font-size: 83.333%;
  }
}
@media only screen and (max-width: 320px){
  html {
    font-size: 66.667%;
  }
}


body {
  width: 100%;
  min-height: 100vh;
  height: 100vh;
  margin: 0;
  background-image: radial-gradient(circle, var(--clr-augmented-100) 28%, var(--clr-augmented-200) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  color: var(--clr-neutral-300);
  color: var(--clr-augmented-400);
  font-family: var(--ff-font-body);
  font-weight: var(--fw-font-weight-400);
  font-size: 1rem;
  letter-spacing: var(--ls-letter-spacing);
  transition: filter 0.5s;
}



@media only screen and (max-width: 540px) {
  body {
    background: var(--clr-augmented-100);
    overflow: hidden;
  }
}


p {margin-bottom: 1rem;}

h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.38rem;
  font-family: var(--ff-font-body);
  font-weight: var(--fw-font-weight-500);
  line-height: 1;
}

h1 {
  margin-top: 0;
  font-size: 3.052rem;
  font-weight: var(--fw-font-weight-700);
  text-transform: capitalize;
}

h2 {font-size: 2.441rem;}

h3 {font-size: 1.953rem;}

h4 {font-size: 1.563rem;}

h5 {font-size: 1.25rem;}

small, .text_small {font-size: 0.8rem;}

input {
  font-family: var(--ff-font-body);
}

*::placeholder,
input::placeholder {
  color: var(--clr-augmented-200);
}

#result-text:empty:before {
  content:attr(data-placeholder);
  color: var(--clr-augmented-200);
}

.interim {
  display: none;
}
ion-icon {
  font-size: 4rem;
}

/* =========================================
              Preloader
============================================ */
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #262626;
  background: var(--clr-augmented-400);
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  z-index: 10000;
}

#preloader-gif {
  width: 33.33%;
  align-self: center;
}

@media screen and (max-width: 768px) {
  #preloader-gif {
    width: 50%;
  }
}
/*=============================================
          wrapper
================================================*/
.wrapper {
  max-width: 640px;
  padding: 20px;
  border-radius: var(--br-border-radius);
  background: hsla(0, 0%, 94%, 70%);
  background: var(--clr-augmented-100);
}
@media only screen and (max-width: 540px) {
  .wrapper {
    background: var(--clr-augmented-100);
  }
}

/*=============================================

================================================*/
/*.wrapper {
  width: 400px;
  padding: 20px;
  border-radius: 10px;
  background-color: var(--clr-augmented-100);
}*/
.heading {
  font-weight: var(--fw-font-weight-700);
  margin-bottom:  .75em;
  color: var(--clr-augmented-400);
}
/*=============================================
        select
================================================*/
.options select {
  width: 100%;
  padding: 10px;
  color: var(--clr-augmented-400);
  background-color: var(--clr-neutral-400);
  border: 2px solid var(--clr-neutral-700);
  border: 2px solid var(--clr-primary-800);
  border-radius: var(--br-border-radius);
  outline: none;
}

.options div:not(:last-child) select {
  margin-bottom: 20px;
}
.options label {
  font-size: 1rem;
  font-weight: var(--fw-font-weight-600);
  color: var(--clr-neutral-700);
}
select#language {
  font-size: 1.25rem;
  font-weight: var(--fw-font-weight-600);
}

hr.line {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: var(--clr-primary-800);
  /*opacity: 0.5;*/
  margin: 32px 0;
}
/*=============================================
            buttons
================================================*/
.btn {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin-bottom: 20px;
  height: 60px;
  /*padding: 20px;*/
  width: 100%;
  outline: none;
  border: none;
  border-radius: var(--br-border-radius);
  /*font-size: 24px;*/
  font-weight: 500;
  cursor: pointer;
  color: #fff;
  color: var(--clr-neutral-300);
  background-color: var(--clr-primary-800);
  transition: all 0.333s
}

.btn:hover {
  color: var(--clr-neutral-100);
}

.btn-text {
  margin-top: 16px;
  font-size: 24px;
  font-weight: var(--fw-font-weight-700);
  letter-spacing: 1px;
}

.btn ion-icon {
  font-size: 32px;
}

.btn:disabled {
  background-color: var(--clr-neutral-500);
  cursor: not-allowed;
}

.btn-record img {
  width: 30px;
  height: 30px;
  display: none;
}

.btn-record.recording img {
  display: block;
}

.btn-record.recording ion-icon {
  display: none;
}

.btn-altered ion-icon {
  font-size: 24px;
}
.btn-text-altered {
  margin-top: 16px;
  font-size: 24px;
  font-weight: var(--fw-font-weight-700);
  letter-spacing: 1px;
}

/*=============================================
        button-wrapper
================================================*/
.button-wrapper {
  display: flex;
  gap: 20px;
}




/*=============================================

================================================*/
.result-text {
  width: 100%;
  min-height: 200px;

  margin-bottom: 20px;
  padding: 10px;

  font-size: 18px;
  font-weight: 500;
  color: var(--clr-augmented-400);
  background-color: var(--clr-neutral-400);
  border-radius: var(--br-border-radius);
  border: 2px solid var(--clr-neutral-700);
  border: 2px solid var(--clr-primary-800);

}
/*=============================================

================================================*/
/*=============================================

================================================*/
/*=============================================

================================================*/
/*=============================================

================================================*/